In [41]:
import pandas as pd
a = pd.read_csv('2019_floating_population.csv')

In [42]:
a = a[a['month'] != 1]

In [43]:
a = a[~(((a['date'] == 1)|(a['date'] == 2)|(a['date'] == 3)|(a['date'] == 4)|(a['date'] == 5))&(a['month'] == 2))]
a = a[~(((a['date'] == 21)|(a['date'] == 22)|(a['date'] == 23)|(a['date'] == 24)|(a['date'] == 25)|(a['date'] == 26)|(a['date'] == 27)|(a['date'] == 28)|(a['date'] == 29)|(a['date'] == 30))&(a['month'] == 4))]

In [44]:
import numpy as np
arra1 = np.arange(np.datetime64('2019-02-06'), np.datetime64('2019-04-21'), dtype='datetime64[D]')
arra1 = arra1[arra1!=np.datetime64('2019-04-17')]
arra2 = np.arange(np.datetime64('2020-02-05'), np.datetime64('2020-04-19'), dtype='datetime64[D]')
arra2 = arra2[arra2!=np.datetime64('2020-04-15')]

In [45]:
len(arra2)

73

In [46]:
a = a.reset_index()

In [47]:
a.head()

      index  Unnamed: 0  hour          집계구코드  floating population  date  month
0  16547301          26     0  1101053010001                252.0     6      2
1  16547302          27     0  1101053010002                909.0     6      2
2  16547303          28     0  1101053010003                975.0     6      2
3  16547304          29     0  1101053010004                978.0     6      2
4  16547305          30     0  1101053010005                683.0     6      2

In [48]:
a = a[['hour','집계구코드','floating population','date','month']]

In [49]:
a.head()

   hour          집계구코드  floating population  date  month
0     0  1101053010001                252.0     6      2
1     0  1101053010002                909.0     6      2
2     0  1101053010003                975.0     6      2
3     0  1101053010004                978.0     6      2
4     0  1101053010005                683.0     6      2

In [50]:
a['fulldate'] = 20190000+a['month']*100+a['date']

In [51]:
a['fulldate'] = a['fulldate'].astype('int32')

In [52]:
a['fulldate'] = pd.to_datetime(a['fulldate'], format='%Y%m%d')

In [18]:
a.head()

   hour          집계구코드  floating population  date  month   fulldate
0     0  1101053010001                252.0     6      2 2020-02-06
1     0  1101053010002                909.0     6      2 2020-02-06
2     0  1101053010003                975.0     6      2 2020-02-06
3     0  1101053010004                978.0     6      2 2020-02-06
4     0  1101053010005                683.0     6      2 2020-02-06

In [53]:
match = pd.DataFrame(arra1, arra2)

In [54]:
match = match.reset_index()

In [55]:
match.head()

       index          0
0 2020-02-05 2019-02-06
1 2020-02-06 2019-02-07
2 2020-02-07 2019-02-08
3 2020-02-08 2019-02-09
4 2020-02-09 2019-02-10

In [56]:
match.columns = ['twenty', 'nineteen']

In [57]:
a['dayofweek'] = a['fulldate'].dt.day_name()

In [58]:
a['dayofweek'].unique()

array(['Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday',
       'Tuesday'], dtype=object)

In [59]:
pop_zone_day = a.groupby(['fulldate','집계구코드'])['floating population'].agg('sum').reset_index()
pop_zone_7to10 = a[(7<=a['hour'])&(a['hour']<=10)].groupby(['fulldate','집계구코드'])['floating population'].agg('sum').reset_index()
pop_zone_11to14 = a[(11<=a['hour'])&(a['hour']<=14)].groupby(['fulldate','집계구코드'])['floating population'].agg('sum').reset_index()
pop_zone_18to21 = a[(18<=a['hour'])&(a['hour']<=21)].groupby(['fulldate','집계구코드'])['floating population'].agg('sum').reset_index()

In [34]:
pop_zone_day.head()

    fulldate          집계구코드  floating population
0 2020-02-06  1101053010001               5315.0
1 2020-02-06  1101053010002              21226.0
2 2020-02-06  1101053010003              25230.0
3 2020-02-06  1101053010004              29683.0
4 2020-02-06  1101053010005              26019.0

In [60]:
pop_zone_day['dayofweek'] = pop_zone_day['fulldate'].dt.day_name()
pop_zone_7to10['dayofweek'] = pop_zone_7to10['fulldate'].dt.day_name()
pop_zone_11to14['dayofweek'] = pop_zone_11to14['fulldate'].dt.day_name()
pop_zone_18to21['dayofweek'] = pop_zone_18to21['fulldate'].dt.day_name()

In [61]:
pop_zone_weekday = pop_zone_day[~((pop_zone_day['dayofweek']=='Saturday')|(pop_zone_day['dayofweek']=='Sunday'))].reset_index()
pop_zone_weekend = pop_zone_day[(pop_zone_day['dayofweek']=='Saturday')|(pop_zone_day['dayofweek']=='Sunday')].reset_index()
pop_zone_7to10_weekday = pop_zone_7to10[~((pop_zone_7to10['dayofweek']=='Saturday')|(pop_zone_7to10['dayofweek']=='Sunday'))].reset_index()
pop_zone_7to10_weekend = pop_zone_7to10[(pop_zone_7to10['dayofweek']=='Saturday')|(pop_zone_7to10['dayofweek']=='Sunday')].reset_index()
pop_zone_11to14_weekday = pop_zone_11to14[~((pop_zone_11to14['dayofweek']=='Saturday')|(pop_zone_11to14['dayofweek']=='Sunday'))].reset_index()
pop_zone_11to14_weekend = pop_zone_11to14[(pop_zone_11to14['dayofweek']=='Saturday')|(pop_zone_11to14['dayofweek']=='Sunday')].reset_index()
pop_zone_18to21_weekday = pop_zone_18to21[~((pop_zone_18to21['dayofweek']=='Saturday')|(pop_zone_18to21['dayofweek']=='Sunday'))].reset_index()
pop_zone_18to21_weekend = pop_zone_18to21[(pop_zone_18to21['dayofweek']=='Saturday')|(pop_zone_18to21['dayofweek']=='Sunday')].reset_index()

In [62]:
pop_zone_weekday = pop_zone_weekday[['fulldate','집계구코드','floating population', 'dayofweek']][pop_zone_weekday['fulldate'] != pd.Timestamp(2019, 4, 17)]
pop_zone_weekend = pop_zone_weekend[['fulldate','집계구코드','floating population', 'dayofweek']]
pop_zone_7to10_weekday = pop_zone_7to10_weekday[['fulldate','집계구코드','floating population', 'dayofweek']][pop_zone_7to10_weekday['fulldate'] != pd.Timestamp(2019, 4, 17)]
pop_zone_7to10_weekend = pop_zone_7to10_weekend[['fulldate','집계구코드','floating population', 'dayofweek']]
pop_zone_11to14_weekday = pop_zone_11to14_weekday[['fulldate','집계구코드','floating population', 'dayofweek']][pop_zone_11to14_weekday['fulldate'] != pd.Timestamp(2019, 4, 17)]
pop_zone_11to14_weekend = pop_zone_11to14_weekend[['fulldate','집계구코드','floating population', 'dayofweek']]
pop_zone_18to21_weekday = pop_zone_18to21_weekday[['fulldate','집계구코드','floating population', 'dayofweek']][pop_zone_18to21_weekday['fulldate'] != pd.Timestamp(2019, 4, 17)]
pop_zone_18to21_weekend = pop_zone_18to21_weekend[['fulldate','집계구코드','floating population', 'dayofweek']]

In [39]:
pop_zone_weekday_2020 = pd.read_csv('pop_8_times\pop_zone_weekday.csv', encoding='cp949')
pop_zone_weekend_2020 = pd.read_csv('pop_8_times\pop_zone_weekend.csv', encoding='cp949')
pop_zone_7to10_weekday_2020 = pd.read_csv('pop_8_times\pop_zone_7to10_weekday.csv', encoding='cp949')
pop_zone_7to10_weekend_2020 = pd.read_csv('pop_8_times\pop_zone_7to10_weekend.csv', encoding='cp949')
pop_zone_11to14_weekday_2020 = pd.read_csv('pop_8_times\pop_zone_11to14_weekday.csv', encoding='cp949')
pop_zone_11to14_weekend_2020 = pd.read_csv('pop_8_times\pop_zone_11to14_weekend.csv', encoding='cp949')
pop_zone_18to21_weekday_2020 = pd.read_csv('pop_8_times\pop_zone_18to21_weekday.csv', encoding='cp949')
pop_zone_18to21_weekend_2020 = pd.read_csv('pop_8_times\pop_zone_18to21_weekend.csv', encoding='cp949')

In [69]:
pop_zone_weekday_2020['fulldate'][0] == '2020-02-03'

True

In [74]:
pop_zone_weekday_2020['fulldate'] = pd.to_datetime(pop_zone_weekday_2020['fulldate'], format='%Y-%m-%d')
pop_zone_weekend_2020['fulldate'] = pd.to_datetime(pop_zone_weekend_2020['fulldate'], format='%Y-%m-%d')
pop_zone_7to10_weekday_2020['fulldate'] = pd.to_datetime(pop_zone_7to10_weekday_2020['fulldate'], format='%Y-%m-%d')
pop_zone_7to10_weekend_2020['fulldate'] = pd.to_datetime(pop_zone_7to10_weekend_2020['fulldate'], format='%Y-%m-%d')
pop_zone_11to14_weekday_2020['fulldate'] = pd.to_datetime(pop_zone_11to14_weekday_2020['fulldate'], format='%Y-%m-%d')
pop_zone_11to14_weekend_2020['fulldate'] = pd.to_datetime(pop_zone_11to14_weekend_2020['fulldate'], format='%Y-%m-%d')
pop_zone_18to21_weekday_2020['fulldate'] = pd.to_datetime(pop_zone_18to21_weekday_2020['fulldate'], format='%Y-%m-%d')
pop_zone_18to21_weekend_2020['fulldate'] = pd.to_datetime(pop_zone_18to21_weekend_2020['fulldate'], format='%Y-%m-%d')

In [76]:
pop_zone_weekday_2020['fulldate'][0]

Timestamp('2020-02-03 00:00:00')

In [77]:
match.head()

      twenty   nineteen
0 2020-02-05 2019-02-06
1 2020-02-06 2019-02-07
2 2020-02-07 2019-02-08
3 2020-02-08 2019-02-09
4 2020-02-09 2019-02-10

In [79]:
match.columns = ['fulldate','nineteen']

In [80]:
pop_zone_weekday_2020 = pop_zone_weekday_2020.merge(match,on='fulldate',how='left')
pop_zone_weekend_2020 = pop_zone_weekend_2020.merge(match,on='fulldate',how='left')
pop_zone_7to10_weekday_2020 = pop_zone_7to10_weekday_2020.merge(match,on='fulldate',how='left')
pop_zone_7to10_weekend_2020 = pop_zone_7to10_weekend_2020.merge(match,on='fulldate',how='left')
pop_zone_11to14_weekday_2020 = pop_zone_11to14_weekday_2020.merge(match,on='fulldate',how='left')
pop_zone_11to14_weekend_2020 = pop_zone_11to14_weekend_2020.merge(match,on='fulldate',how='left')
pop_zone_18to21_weekday_2020 = pop_zone_18to21_weekday_2020.merge(match,on='fulldate',how='left')
pop_zone_18to21_weekend_2020 = pop_zone_18to21_weekend_2020.merge(match,on='fulldate',how='left')

In [85]:
pop_zone_weekday_2020 = pop_zone_weekday_2020[~pop_zone_weekday_2020['nineteen'].isnull()]
pop_zone_weekend_2020 = pop_zone_weekend_2020[~pop_zone_weekend_2020['nineteen'].isnull()]
pop_zone_7to10_weekday_2020 = pop_zone_7to10_weekday_2020[~pop_zone_7to10_weekday_2020['nineteen'].isnull()]
pop_zone_7to10_weekend_2020 = pop_zone_7to10_weekend_2020[~pop_zone_7to10_weekend_2020['nineteen'].isnull()]
pop_zone_11to14_weekday_2020 = pop_zone_11to14_weekday_2020[~pop_zone_11to14_weekday_2020['nineteen'].isnull()]
pop_zone_11to14_weekend_2020 = pop_zone_11to14_weekend_2020[~pop_zone_11to14_weekend_2020['nineteen'].isnull()]
pop_zone_18to21_weekday_2020 = pop_zone_18to21_weekday_2020[~pop_zone_18to21_weekday_2020['nineteen'].isnull()]
pop_zone_18to21_weekend_2020 = pop_zone_18to21_weekend_2020[~pop_zone_18to21_weekend_2020['nineteen'].isnull()]

In [89]:
pop_zone_weekday_2020 = pop_zone_weekday_2020[['zone','ppl_geoloc','fulldate','nineteen']]
pop_zone_weekend_2020 = pop_zone_weekend_2020[['zone','ppl_geoloc','fulldate','nineteen']]
pop_zone_7to10_weekday_2020 = pop_zone_7to10_weekday_2020[['zone','ppl_geoloc','fulldate','nineteen']]
pop_zone_7to10_weekend_2020 = pop_zone_7to10_weekend_2020[['zone','ppl_geoloc','fulldate','nineteen']]
pop_zone_11to14_weekday_2020 = pop_zone_11to14_weekday_2020[['zone','ppl_geoloc','fulldate','nineteen']]
pop_zone_11to14_weekend_2020 = pop_zone_11to14_weekend_2020[['zone','ppl_geoloc','fulldate','nineteen']]
pop_zone_18to21_weekday_2020 = pop_zone_18to21_weekday_2020[['zone','ppl_geoloc','fulldate','nineteen']]
pop_zone_18to21_weekend_2020 = pop_zone_18to21_weekend_2020[['zone','ppl_geoloc','fulldate','nineteen']]

In [92]:
pop_zone_weekday.columns = ['nineteen','zone','floating population', 'dayofweek']
pop_zone_weekend.columns = ['nineteen','zone','floating population', 'dayofweek']
pop_zone_7to10_weekday.columns = ['nineteen','zone','floating population', 'dayofweek']
pop_zone_7to10_weekend.columns = ['nineteen','zone','floating population', 'dayofweek']
pop_zone_11to14_weekday.columns = ['nineteen','zone','floating population', 'dayofweek']
pop_zone_11to14_weekend.columns = ['nineteen','zone','floating population', 'dayofweek']
pop_zone_18to21_weekday.columns = ['nineteen','zone','floating population', 'dayofweek']
pop_zone_18to21_weekend.columns = ['nineteen','zone','floating population', 'dayofweek']

In [102]:
pop_zone_weekday_diff = pop_zone_weekday.merge(pop_zone_weekday_2020, on=['nineteen','zone'], how='inner')

In [103]:
pop_zone_weekday_diff = pop_zone_weekday_diff[(pop_zone_weekday_diff['floating population'] != 0) & (pop_zone_weekday_diff['ppl_geoloc'] != 0)]
pop_zone_weekday_diff['population ratio'] = pop_zone_weekday_diff['ppl_geoloc']/pop_zone_weekday_diff['floating population']

In [106]:
pop_zone_weekday_diff.head()

,nineteen,zone,floating population,dayofweek,ppl_geoloc,fulldate,population ratio
0,2019-02-06,1101053010001,5315.0,Wednesday,9598.0,2020-02-05,1.805833
1,2019-02-06,1101053010002,21226.0,Wednesday,42837.0,2020-02-05,2.018138
2,2019-02-06,1101053010003,25230.0,Wednesday,39583.0,2020-02-05,1.568886
3,2019-02-06,1101053010004,29683.0,Wednesday,44954.0,2020-02-05,1.514470
4,2019-02-06,1101053010005,26019.0,Wednesday,29905.0,2020-02-05,1.149352

In [107]:
pop_zone_weekday_diff = pop_zone_weekday_diff[['zone','fulldate','population ratio']]

In [108]:
pop_zone_weekend_diff = pop_zone_weekend.merge(pop_zone_weekend_2020, on=['nineteen','zone'], how='inner')
pop_zone_weekend_diff = pop_zone_weekend_diff[(pop_zone_weekend_diff['floating population'] != 0) & (pop_zone_weekend_diff['ppl_geoloc'] != 0)]
pop_zone_weekend_diff['population ratio'] = pop_zone_weekend_diff['ppl_geoloc']/pop_zone_weekend_diff['floating population']
pop_zone_weekend_diff = pop_zone_weekend_diff[['zone','fulldate','population ratio']]

In [109]:
pop_zone_7to10_weekday_diff = pop_zone_7to10_weekday.merge(pop_zone_7to10_weekday_2020, on=['nineteen','zone'], how='inner')
pop_zone_7to10_weekday_diff = pop_zone_7to10_weekday_diff[(pop_zone_7to10_weekday_diff['floating population'] != 0) & (pop_zone_7to10_weekday_diff['ppl_geoloc'] != 0)]
pop_zone_7to10_weekday_diff['population ratio'] = pop_zone_7to10_weekday_diff['ppl_geoloc']/pop_zone_7to10_weekday_diff['floating population']
pop_zone_7to10_weekday_diff = pop_zone_7to10_weekday_diff[['zone','fulldate','population ratio']]

In [110]:
pop_zone_7to10_weekend_diff = pop_zone_7to10_weekend.merge(pop_zone_7to10_weekend_2020, on=['nineteen','zone'], how='inner')
pop_zone_7to10_weekend_diff = pop_zone_7to10_weekend_diff[(pop_zone_7to10_weekend_diff['floating population'] != 0) & (pop_zone_7to10_weekend_diff['ppl_geoloc'] != 0)]
pop_zone_7to10_weekend_diff['population ratio'] = pop_zone_7to10_weekend_diff['ppl_geoloc']/pop_zone_7to10_weekend_diff['floating population']
pop_zone_7to10_weekend_diff = pop_zone_7to10_weekend_diff[['zone','fulldate','population ratio']]

In [111]:
pop_zone_11to14_weekday_diff = pop_zone_11to14_weekday.merge(pop_zone_11to14_weekday_2020, on=['nineteen','zone'], how='inner')
pop_zone_11to14_weekday_diff = pop_zone_11to14_weekday_diff[(pop_zone_11to14_weekday_diff['floating population'] != 0) & (pop_zone_11to14_weekday_diff['ppl_geoloc'] != 0)]
pop_zone_11to14_weekday_diff['population ratio'] = pop_zone_11to14_weekday_diff['ppl_geoloc']/pop_zone_11to14_weekday_diff['floating population']
pop_zone_11to14_weekday_diff = pop_zone_11to14_weekday_diff[['zone','fulldate','population ratio']]
pop_zone_11to14_weekend_diff = pop_zone_11to14_weekend.merge(pop_zone_11to14_weekend_2020, on=['nineteen','zone'], how='inner')
pop_zone_11to14_weekend_diff = pop_zone_11to14_weekend_diff[(pop_zone_11to14_weekend_diff['floating population'] != 0) & (pop_zone_11to14_weekend_diff['ppl_geoloc'] != 0)]
pop_zone_11to14_weekend_diff['population ratio'] = pop_zone_11to14_weekend_diff['ppl_geoloc']/pop_zone_11to14_weekend_diff['floating population']
pop_zone_11to14_weekend_diff = pop_zone_11to14_weekend_diff[['zone','fulldate','population ratio']]

In [112]:
pop_zone_18to21_weekday_diff = pop_zone_18to21_weekday.merge(pop_zone_18to21_weekday_2020, on=['nineteen','zone'], how='inner')
pop_zone_18to21_weekday_diff = pop_zone_18to21_weekday_diff[(pop_zone_18to21_weekday_diff['floating population'] != 0) & (pop_zone_18to21_weekday_diff['ppl_geoloc'] != 0)]
pop_zone_18to21_weekday_diff['population ratio'] = pop_zone_18to21_weekday_diff['ppl_geoloc']/pop_zone_18to21_weekday_diff['floating population']
pop_zone_18to21_weekday_diff = pop_zone_18to21_weekday_diff[['zone','fulldate','population ratio']]
pop_zone_18to21_weekend_diff = pop_zone_18to21_weekend.merge(pop_zone_18to21_weekend_2020, on=['nineteen','zone'], how='inner')
pop_zone_18to21_weekend_diff = pop_zone_18to21_weekend_diff[(pop_zone_18to21_weekend_diff['floating population'] != 0) & (pop_zone_18to21_weekend_diff['ppl_geoloc'] != 0)]
pop_zone_18to21_weekend_diff['population ratio'] = pop_zone_18to21_weekend_diff['ppl_geoloc']/pop_zone_18to21_weekend_diff['floating population']
pop_zone_18to21_weekend_diff = pop_zone_18to21_weekend_diff[['zone','fulldate','population ratio']]

In [115]:
starbucks = pd.read_csv('POI_coord_data\\Starbucks.csv')
michelin = pd.read_csv('POI_coord_data\\Michelin.csv')
department = pd.read_csv('POI_coord_data\\dep_store.csv')
bib_gourmand = pd.read_csv('POI_coord_data\\bib_Gourmand.csv')

In [116]:
starbucks.head()

   Rowid  FID     TOT_REG_CD  FREQUENCY  COUNT_TOT_REG_CD
0      1    0  1101053010001          1                 1
1      2    0  1101053020002          2                 2
2      3    0  1101058020002          1                 1
3      4    0  1101060020001          1                 1
4      5    0  1101061030001          2                 2

In [117]:
pop_zone_weekday_diff.to_csv('pop_zone_weekday_diff.csv')
pop_zone_weekend_diff.to_csv('pop_zone_weekend_diff.csv')
pop_zone_7to10_weekday_diff.to_csv('pop_zone_7to10_weekday_diff.csv')
pop_zone_7to10_weekend_diff.to_csv('pop_zone_7to10_weekend_diff.csv')
pop_zone_11to14_weekday_diff.to_csv('pop_zone_11to14_weekday_diff.csv')
pop_zone_11to14_weekend_diff.to_csv('pop_zone_11to14_weekend_diff.csv')
pop_zone_18to21_weekday_diff.to_csv('pop_zone_18to21_weekday_diff.csv')
pop_zone_18to21_weekend_diff.to_csv('pop_zone_18to21_weekend_diff.csv')

In [120]:
starbucks_weekday = pop_zone_weekday_diff[pop_zone_weekday_diff.zone.isin(starbucks['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()

In [122]:
starbucks_weekday

     fulldate  population ratio
0  2020-02-05          1.652528
1  2020-02-06          1.113636
2  2020-02-07          1.047796
3  2020-02-10          1.047768
4  2020-02-11          1.053093
5  2020-02-12          1.044543
6  2020-02-13          1.053899
7  2020-02-14          1.057143
8  2020-02-17          1.045278
9  2020-02-18          1.066079
10 2020-02-19          1.114276
11 2020-02-20          1.114164
12 2020-02-21          1.110153
13 2020-02-24          1.091459
14 2020-02-25          1.013046
15 2020-02-26          1.000012
16 2020-02-27          0.992646
17 2020-02-28          1.140407
18 2020-03-02          0.959279
19 2020-03-03          0.972419
20 2020-03-04          0.969241
21 2020-03-05          0.967622
22 2020-03-06          0.968170
23 2020-03-09          0.982181
24 2020-03-10          0.975138
25 2020-03-11          0.966321
26 2020-03-12          0.970037
27 2020-03-13          0.961359
28 2020-03-16          0.993687
29 2020-03-17          0.996630
30 2020-03-18          0.996603
31 2020-03-19          0.989011
32 2020-03-20          0.981153
33 2020-03-23          0.985855
34 2020-03-24          0.978971
35 2020-03-25          0.981268
36 2020-03-26          0.979050
37 2020-03-27          0.984177
38 2020-03-30          1.006733
39 2020-03-31          1.006192
40 2020-04-01          0.989591
41 2020-04-02          0.985019
42 2020-04-03          0.983717
43 2020-04-06          0.999900
44 2020-04-07          0.996522
45 2020-04-08          0.990194
46 2020-04-09          0.991482
47 2020-04-10          0.991053
48 2020-04-13          0.999025
49 2020-04-14          1.007474
50 2020-04-16          0.999997
51 2020-04-17          0.999727

In [123]:
starbucks_weekday = pop_zone_weekday_diff[pop_zone_weekday_diff.zone.isin(starbucks['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
starbucks_weekend = pop_zone_weekend_diff[pop_zone_weekend_diff.zone.isin(starbucks['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
starbucks_7to10_weekday = pop_zone_7to10_weekday_diff[pop_zone_7to10_weekday_diff.zone.isin(starbucks['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
starbucks_7to10_weekend = pop_zone_7to10_weekend_diff[pop_zone_7to10_weekend_diff.zone.isin(starbucks['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
starbucks_11to14_weekday = pop_zone_11to14_weekday_diff[pop_zone_11to14_weekday_diff.zone.isin(starbucks['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
starbucks_11to14_weekend = pop_zone_11to14_weekend_diff[pop_zone_11to14_weekend_diff.zone.isin(starbucks['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
starbucks_18to21_weekday = pop_zone_18to21_weekday_diff[pop_zone_18to21_weekday_diff.zone.isin(starbucks['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
starbucks_18to21_weekend = pop_zone_18to21_weekend_diff[pop_zone_18to21_weekend_diff.zone.isin(starbucks['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()

In [124]:
michelin_weekday = pop_zone_weekday_diff[pop_zone_weekday_diff.zone.isin(michelin['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
michelin_weekend = pop_zone_weekend_diff[pop_zone_weekend_diff.zone.isin(michelin['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
michelin_7to10_weekday = pop_zone_7to10_weekday_diff[pop_zone_7to10_weekday_diff.zone.isin(michelin['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
michelin_7to10_weekend = pop_zone_7to10_weekend_diff[pop_zone_7to10_weekend_diff.zone.isin(michelin['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
michelin_11to14_weekday = pop_zone_11to14_weekday_diff[pop_zone_11to14_weekday_diff.zone.isin(michelin['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
michelin_11to14_weekend = pop_zone_11to14_weekend_diff[pop_zone_11to14_weekend_diff.zone.isin(michelin['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
michelin_18to21_weekday = pop_zone_18to21_weekday_diff[pop_zone_18to21_weekday_diff.zone.isin(michelin['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
michelin_18to21_weekend = pop_zone_18to21_weekend_diff[pop_zone_18to21_weekend_diff.zone.isin(michelin['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()

In [126]:
department_weekday = pop_zone_weekday_diff[pop_zone_weekday_diff.zone.isin(department['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
department_weekend = pop_zone_weekend_diff[pop_zone_weekend_diff.zone.isin(department['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
department_7to10_weekday = pop_zone_7to10_weekday_diff[pop_zone_7to10_weekday_diff.zone.isin(department['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
department_7to10_weekend = pop_zone_7to10_weekend_diff[pop_zone_7to10_weekend_diff.zone.isin(department['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
department_11to14_weekday = pop_zone_11to14_weekday_diff[pop_zone_11to14_weekday_diff.zone.isin(department['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
department_11to14_weekend = pop_zone_11to14_weekend_diff[pop_zone_11to14_weekend_diff.zone.isin(department['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
department_18to21_weekday = pop_zone_18to21_weekday_diff[pop_zone_18to21_weekday_diff.zone.isin(department['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
department_18to21_weekend = pop_zone_18to21_weekend_diff[pop_zone_18to21_weekend_diff.zone.isin(department['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()

In [127]:
bib_gourmand_weekday = pop_zone_weekday_diff[pop_zone_weekday_diff.zone.isin(bib_gourmand['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
bib_gourmand_weekend = pop_zone_weekend_diff[pop_zone_weekend_diff.zone.isin(bib_gourmand['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
bib_gourmand_7to10_weekday = pop_zone_7to10_weekday_diff[pop_zone_7to10_weekday_diff.zone.isin(bib_gourmand['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
bib_gourmand_7to10_weekend = pop_zone_7to10_weekend_diff[pop_zone_7to10_weekend_diff.zone.isin(bib_gourmand['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
bib_gourmand_11to14_weekday = pop_zone_11to14_weekday_diff[pop_zone_11to14_weekday_diff.zone.isin(bib_gourmand['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
bib_gourmand_11to14_weekend = pop_zone_11to14_weekend_diff[pop_zone_11to14_weekend_diff.zone.isin(bib_gourmand['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
bib_gourmand_18to21_weekday = pop_zone_18to21_weekday_diff[pop_zone_18to21_weekday_diff.zone.isin(bib_gourmand['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()
bib_gourmand_18to21_weekend = pop_zone_18to21_weekend_diff[pop_zone_18to21_weekend_diff.zone.isin(bib_gourmand['TOT_REG_CD'].unique())].groupby(['fulldate'])['population ratio'].mean().reset_index()

In [128]:
starbucks_weekday.to_csv('starbucks\\starbucks_weekday.csv')
starbucks_weekend.to_csv('starbucks\\starbucks_weekend.csv')
starbucks_7to10_weekday.to_csv('starbucks\\starbucks_7to10_weekday.csv')
starbucks_7to10_weekend.to_csv('starbucks\\starbucks_7to10_weekend.csv')
starbucks_11to14_weekday.to_csv('starbucks\\starbucks_11to14_weekday.csv')
starbucks_11to14_weekend.to_csv('starbucks\\starbucks_11to14_weekend.csv')
starbucks_18to21_weekday.to_csv('starbucks\\starbucks_18to21_weekday.csv')
starbucks_18to21_weekend.to_csv('starbucks\\starbucks_18to21_weekend.csv')

In [129]:
michelin_weekday.to_csv('michelin\\michelin_weekday.csv')
michelin_weekend.to_csv('michelin\\michelin_weekend.csv')
michelin_7to10_weekday.to_csv('michelin\\michelin_7to10_weekday.csv')
michelin_7to10_weekend.to_csv('michelin\\michelin_7to10_weekend.csv')
michelin_11to14_weekday.to_csv('michelin\\michelin_11to14_weekday.csv')
michelin_11to14_weekend.to_csv('michelin\\michelin_11to14_weekend.csv')
michelin_18to21_weekday.to_csv('michelin\\michelin_18to21_weekday.csv')
michelin_18to21_weekend.to_csv('michelin\\michelin_18to21_weekend.csv')

In [130]:
department_weekday.to_csv('department\\department_weekday.csv')
department_weekend.to_csv('department\\department_weekend.csv')
department_7to10_weekday.to_csv('department\\department_7to10_weekday.csv')
department_7to10_weekend.to_csv('department\\department_7to10_weekend.csv')
department_11to14_weekday.to_csv('department\\department_11to14_weekday.csv')
department_11to14_weekend.to_csv('department\\department_11to14_weekend.csv')
department_18to21_weekday.to_csv('department\\department_18to21_weekday.csv')
department_18to21_weekend.to_csv('department\\department_18to21_weekend.csv')

In [131]:
bib_gourmand_weekday.to_csv('bib_gourmand\\bib_gourmand_weekday.csv')
bib_gourmand_weekend.to_csv('bib_gourmand\\bib_gourmand_weekend.csv')
bib_gourmand_7to10_weekday.to_csv('bib_gourmand\\bib_gourmand_7to10_weekday.csv')
bib_gourmand_7to10_weekend.to_csv('bib_gourmand\\bib_gourmand_7to10_weekend.csv')
bib_gourmand_11to14_weekday.to_csv('bib_gourmand\\bib_gourmand_11to14_weekday.csv')
bib_gourmand_11to14_weekend.to_csv('bib_gourmand\\bib_gourmand_11to14_weekend.csv')
bib_gourmand_18to21_weekday.to_csv('bib_gourmand\\bib_gourmand_18to21_weekday.csv')
bib_gourmand_18to21_weekend.to_csv('bib_gourmand\\bib_gourmand_18to21_weekend.csv')